/* --- CONTAINER PRINCIPAL --- */
.about {
  padding: var(--spacing-section) var(--container-padding);
  max-width: var(--container-max-width-desktop);
  margin: 0 auto;
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-xl);
  align-items: center;
  position: relative;
  overflow: hidden;
  /* Evita que o fundo verde crie scroll lateral */
}

.about-image-container {

  position: relative;
  /* IMPORTANTE: Remova border-radius e overflow: hidden daqui */
  display: flex;
  justify-content: center;
  z-index: 2;
}

.button-blur {
  backdrop-filter: blur(100px);
}



.about-background {
  position: absolute;
  top: 50%;
  /* Move a mancha um pouco para a esquerda, atrás do corredor */
  left: -5%;
  width: 120%;
  height: 90%;
  background-image: url('/about/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
  z-index: -1;
  /* Fica atrás da imagem do corredor */
  pointer-events: none;
  transform: translateY(-50%);

}

@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
    /* Muda para uma coluna só */
    text-align: center;
    gap: 4rem;
  }

  .about-background {
    top: 20%;
    left: 50%;
    width: 90%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
  }

}

.about-image {
  width: 100%;
  height: auto;
  /* Mudado para contain para garantir que o atleta apareça inteiro */
  object-fit: contain;
  /* Filtro opcional caso queira destacar o corredor */
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.2));
}

.about-content {
  position: relative;
  /* Ajuste a transparência para o efeito de vidro */
  background: rgba(30, 30, 30, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3rem;
  padding: 4rem 3rem 3rem;
  backdrop-filter: blur(15px);
  z-index: 3;
}

.about-header-pill {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(30, 30, 30, 0.904);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.75rem 2.5rem;
  border-radius: 999px;
  backdrop-filter: blur(10px);
  z-index: 10;
  box-shadow: 0 2.737px 8.21px 0 #FFF inset, 0 21.894px 32.841px 0 rgba(255, 255, 255, 0.00) inset, 0 65.682px 87.576px 0 rgba(236, 88, 8, 0.00) inset;

}

.about-title {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--color-text-primary);
  margin: 0;
  white-space: nowrap;
}

.about-text {
  /* Texto com melhor legibilidade */
  font-size: 1.125rem;
  line-height: 1.6;
  color: var(--color-text-primary);
  text-align: center;
  font-weight: 500;
}

@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
  }
}